@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Manrope:700,400|Open+Sans:700,600");

/* Styler l'en tete */
.about{
  background-color: #0a2640;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* Navigation */
.about nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
}
.about nav .logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about nav .logo img{
  width: 28px;
  height: 28px;
  margin-right: 5px;
  margin-top: 5px;
}
.about nav .logo h1{
  font-size: 50px;
  color: #fff;
  font-family: "Manrope", Helvetica;
}
.about nav .link{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.about nav .link button{
    background-color: #f8f2f2;
    height: 40px;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color:rgba(10, 38, 64, 1);
    cursor: pointer;
    margin-left: 20px;
    border: none;
}
.about nav .link ul{
    display: flex;  
}
.about nav .link ul li a{
    margin: 0 15px;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    position: relative;
    color: #fff;
    font-family: "Open Sans", Helvetica;
    font-weight: bold;
} 
.about .menu-hamburger {
  background-color: rgb(24, 23, 23);
  color: white;
  display: none;
  position: absolute;
  top: 55px;
  right: 50px;
  padding: 5px;
}
.about .menu-hamburger img{
  width: 20px;
  margin-left: 5px;
} 
/* header */
.about header{
  display: flex;
  flex-direction: column;
}
.about header .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: #fff;
  font-family: "Open Sans", Helvetica;
}
.about header .title h1{
  font-size: 70px;
  margin: 20px 0;
}
.about header .title span{
  margin-bottom: 50px;
  text-align: center;
  line-height: 25px;
}
.about header .galerie{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.about header .galerie .img{
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 15px;
}
.about header .galerie img{
  width: 100%;
  height: auto;
}

/*styler section 1*/
.section1{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.section1 .infos{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
}
.section1 .infos h1{
  font-size: 40px;
  margin: 20px 0;
  text-align: start;
}
.section1 .infos p{
  color: #777;
  line-height: 20px;
}

/*styler section 2*/
.section2{
  background-color: #0a2640;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.section2 .number{
  padding-top: 60px;
}
.section2 .number .head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
}
.section2 .number h1{
  font-size: 40px;
  margin: 20px 0;
  text-align: start;
  color: #fff;
}
.section2 .number p{
  color: lightgray;
  line-height: 20px;
}
.section2 .number .corps{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
}
.section2 .number .corps h1{
  font-size: 60px;
  margin: 20px 0;
  text-align: start;
  color: #4fe9a4;
  font-family: "manrope";
}
.section2 .number .corps p{
  color: lightgrey;
  font-family: "manrope";
}

/*styler section 3*/
.section3{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.section3 .team{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.section3 .team .head{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
  margin-bottom: 30px;
}
.section3 .head h1{
  font-size: 40px;
  margin: 20px 0;
  text-align: start;
  color: #000;
}
.section3 .head p{
  color: #777;
  line-height: 20px;
}
.section3 .team .corps{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.section3 .team .corps .person{
  margin: 0 20px;
}
.section3 .team .corps .person img{
  width: 100%;
  height: 200px;
}
.section3 .team .corps h1{
  font-size: 25px;
  margin: 10px 0;
}
.section3 .team .corps p{
  color: #777;
}

/*styler section 4*/
.section4{
  background-color: #0a2640;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 50px;
}
.section4 .values{
  padding-top: 60px;
}
.section4 .values .head{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Open Sans", Helvetica;
}
.section4 .values .head h1{
  color: #fff;
  margin:20px 0;
  font-size: 30px;
}
.section4 .values p{
  color: #f1f1f1;
}
.section4 .values .corps{
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Helvetica;
}
.section4 .values .corps p{
  font-size: 12px;
}
.section4 .values .corps .parent{
  display: flex;
  flex-direction: row;
  margin:30px 0;
}
.section4 .values .corps .parent img{
  height: 90px;
  margin-top: 40px;
  margin-right: 30px;
}
.section4 .values .corps h1{
  font-size: 22px;
  color: #fff;
  margin-bottom:15px;
}

 /*styler section 5*/
 .section5{
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .section5 .contact{
  background-color: #0a2640;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
 }
 .section5 .contact h1{
  font-size: 40px;
  font-family: "Open Sans", Helvetica;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
 }
 
.section5 .contact input[type=text]{
  padding-left: 20px;
  border-radius: 40px;
  height: 40px;
  width: 300px;
  position: relative;
  border: none;
}
.section5 .contact input[type=submit]{
  background-color: #65E4A3;
  height: 40px;
  width: 160px;
  border-radius: 25px;
  font-weight: bold;
  color: #0A2640;
  cursor: pointer;
  border: none;
}


  /*styler notre pied de page*/
.footer{
  box-sizing: border-box;
  width: 100%;
}
.footer .container{
  margin: 10px;
}
.footer .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}
.footer ul{
  list-style: none;
  
}

.footer .footer-col{
  margin: 10px 10px;
}
.footer .footer-col h4{
  font-size: 20px;
  color: #0c0c0c;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-weight: bold;
  position: relative;
}
.footer .footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e90909;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .footer-col .logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}
.footer .footer-col .logo img {
  width: 20px;
  height: 25px;
}
.footer .footer-col .logo h1{
  font-size: 50px;
  color: #000;
  font-family: "Manrope", Helvetica;
}
.footer .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer .footer-col ul li a{
  font-size: 15px;
  text-transform: capitalize;
  color: #777;
  display: block;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: 25px 0;
}
.footer .footer-col ul li a:hover{
  color: #ec0909;
  padding-left: 8px;
}
.footer .footer-col p{
  padding: 10px 0;
  text-align: start;
  color: #777;
  margin: 15px 0;
}
.footer span{
  background-color: #65E4A3;
  color:#000; 
  border-radius:30px; 
  padding:3px 5px;
}


/*Responsive*/

@media(max-width:675px){
.about nav{
    padding: 0;
}
.about .logo{
  position: absolute;
  top: 50px;
  left: 50px;
}
.about .menu-hamburger{
    display: block;
} 
.about nav .link{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(75, 74, 74, 0.7);
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -100%;
    transition: all 0.5s ease;
}
.about .link.mobile-menu{
    margin-left: 0;
}
.about ul{
    display: flex;
    flex-direction: column;
}
.about ul li{
    padding: 20px;
    font-size: 25px;
}
.about ul li a{
    color: white;
}

.about header .title h1{
  font-size: 30px;
  margin: 20px 0;
}
.section2 .number .corps h1{
  font-size: 30px;
}
.section1 .infos h1, .section2 .number h1, .section5 .contact h1{
  font-size: 28px;
}
.footer .row{
    display: grid;
    grid-template-columns: 100%;
}
.footer .row .footer-col{
    margin-top: 10px;
}
.section5 form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}  
.section5 form input{
  margin-bottom: 15px;
}
}

  
  